.sponsor {
   &__img{
    width: 150px;
    cursor: pointer;
    transition: transform 0.4s;
    &:hover{
        transform: scale(1.1);
       /*  border-radius: 65px; */
        border: 1px solid var(--first-color);
        padding: 10px 5px;
    }
   }
   &__container{
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    align-items: center;
    

   }
}